<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ondrejvane.zivnostnicek">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.bill.BillActivity"
            android:label="@string/title_activity_income"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.expense.ExpenseActivity"
            android:label="@string/title_activity_expense"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.trader.TraderActivity"
            android:label="@string/title_activity_trader"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.storage.StorageActivity"
            android:label="@string/title_activity_storage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.info.InfoActivity"
            android:label="@string/title_activity_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SynchronizationActivity"
            android:label="@string/title_activity_synchronization"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.trader.TraderNewActivity"
            android:label="@string/title_activity_trader_new"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.trader.TraderShowActivity"
            android:label="@string/title_activity_trader_show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.trader.TraderEditActivity"
            android:label="@string/title_activity_trader_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.note.NoteActivity"
            android:label="@string/title_activity_trader_show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.note.NoteNewActivity"
            android:label="@string/title_activity_trader_new_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.note.NoteShowActivity"
            android:label="@string/title_activity_trader_show_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.note.NoteEditActivity"
            android:label="@string/title_activity_trader_edit_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.bill.BillNewActivity"
            android:label="@string/title_activity_income_new"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.expense.ExpenseNewActivity"
            android:label="@string/title_activity_expense_new"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.info.InfoCurrencyActivity"
            android:label="@string/title_activity_info_currency"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.storage.StorageNewActivity"
            android:label="@string/title_activity_storage_new"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.storage.StorageShowActivity"
            android:label="@string/title_activity_storage_show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.storage.StorageEditActivity"
            android:label="@string/title_activity_storage_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.bill.BillShowActivity"
            android:label="@string/title_activity_income_show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ShowPictureActivity"></activity>
    </application>

</manifest>