<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ondrejvane.zivnostnicek">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".activities.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.bill.ShowPictureActivity" />
        <activity
            android:name=".activities.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.bill.BillActivity"
            android:label="@string/title_activity_income"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.trader.TraderActivity"
            android:label="@string/title_activity_trader"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.storage.StorageActivity"
            android:label="@string/title_activity_storage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.info.InfoActivity"
            android:label="@string/title_activity_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.sync.SynchronizationActivity"
            android:label="@string/title_activity_synchronization"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.trader.TraderNewActivity"
            android:label="@string/title_activity_trader_new"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.trader.TraderShowActivity"
            android:label="@string/title_activity_trader_show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.trader.TraderEditActivity"
            android:label="@string/title_activity_trader_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.note.NoteNewActivity"
            android:label="@string/title_activity_trader_new_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.note.NoteShowActivity"
            android:label="@string/title_activity_trader_show_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.note.NoteEditActivity"
            android:label="@string/title_activity_trader_edit_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.bill.BillNewActivity"
            android:label="@string/title_activity_income_new"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.info.InfoCurrencyActivity"
            android:label="@string/title_activity_info_currency"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.storage.StorageNewActivity"
            android:label="@string/title_activity_storage_new"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.storage.StorageShowActivity"
            android:label="@string/title_activity_storage_show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.storage.StorageEditActivity"
            android:label="@string/title_activity_storage_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.bill.BillShowActivity"
            android:label="@string/title_activity_income_show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.bill.BillEditActivity"
            android:label="@string/title_activity_bill_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.home.HomeYearSummaryActivity"
            android:label="@string/title_activity_home_year_summary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.home.HomeExpenseOrIncomeActivity"
            android:label="@string/title_activity_home_income"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.home.HomeVATActivity"
            android:label="@string/title_activity_home_vat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.home.HomeTraderActivity"
            android:label="@string/title_activity_home_traders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.info.InfoAboutAppActivity"
            android:label="@string/title_activity_info_about_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.info.InfoLinksActivity"
            android:label="@string/title_activity_info_links"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.provider.zivnostnicek"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name=".activities.info.InfoDateActivity"
            android:label="@string/title_activity_info_date"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>